* {
  box-sizing: border-box;
}
body,
header {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
.navbar {
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}
.navbar__logo {
  margin-right: auto;
  margin-left: 2em;
  height: 4em;
}
.navbar h4 {
  padding: 15px;
}
.navbar__button {
  border: 2px solid #ed6436;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 8em;
  height: 3em;
  text-align: center;
  line-height: 1em;
  cursor: pointer;
}
.navbar__dropdown:hover {
  color: #ed6436;
}
.navbar__mobile {
  width: 2em;
  visibility: hidden;
}
.navbar__button:hover {
  background-color: #ed6436;
  color: #fff;
}
.content {
  margin: 0 2em;
}
.content__button {
  border: 2px solid #ed6436;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 8em;
  height: 3em;
  text-align: center;
  line-height: 3em;
  cursor: pointer;
}
.content__button:hover {
  color: #ed6436;
  background-color: #fff;
}
.content__activities {
  color: #ed6436;
  padding-top: 1em;
}
.content__title,
.content__button {
  display: inline-block;
}
.content__button {
  color: #fff;
  background-color: #ed6436;
  float: right;
}
.content__title {
  font-size: 3em;
}
.content__flex {
  display: flex;
  justify-content: space-around;
}
.content__img {
  position: relative;
}
.content__img h4,
h5 {
  color: #fff;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 0%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px 0;
  visibility: hidden;
}
.content__img h4 {
  margin-top: 230px;
  font-size: 27px;
  pointer-events: none;
}
.content__img h5 {
  margin-top: 180px;
  font-size: 18px;
  pointer-events: none;
}
.content__img:hover h4 {
  visibility: visible;
  transition: 0.3s;
}
.content__img:hover h5 {
  visibility: visible;
  transition: 0.3s;
}
.content__flex__image {
  border-radius: 50px;
  width: 25em;
  height: 30em;
  object-fit: cover;
  position: relative;
}
.content__flex__image:hover {
  filter: brightness(50%);
  transition: 0.3s;
}

@media only screen and (max-width: 700px) {
  .navbar h4 {
    visibility: hidden;
  }
  .navbar__button {
    visibility: hidden;
  }
  .navbar__mobile {
    width: 2em;
    visibility: visible;
    padding: 1px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
  }
  .content__title,
  .content__button {
    display: block;
  }
  .content__button {
    color: #fff;
    background-color: #ed6436;
  }

  .content__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .content__flex__image {
    border-radius: 50px;
    width: 35em;
    height: 20em;
    object-fit: cover;
    padding: 20px;
  }
  .content__img h4,
  h5 {
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 0%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 70px;
    right: 0;
    padding: 20px 0;
    visibility: hidden;
  }
}
